{% extends request.session.path %}

{% block content %}
<h3 class="alert alert-danger p-2 text-center">Do you want delete this Image ?</h3>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row text-center mb-5">
        <div class="col-md">
            <div class="form-floating mb-3">
                <img src="{{datas.image.url}}" alt="{{datas.descr}}" height="200px">
            </div>
            <div class="mb-3">
                <h4 class="text-success">{{datas.descr}}</h4>
            </div>
        </div>
        <div class="col-md">
            <div class="row">
                <div class="col col-md-12">
                    <button class="btn btn-danger p-3 form-control mb-3">Delete</button>
                </div>
                <div class="col col-md-12">
                    <a href="{% url request.session.group|add:'_image' %}" class="btn btn-warning p-3 form-control">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% if form.errors %}
<div class="alert alert-danger text-center mt-3 pt-3 pb-0">
    <ul>
        {% for f in form %}
        <li>{{f.label}}
            {% if f.errors %}
            {{f.errors}}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock content %}