{% extends request.session.path %}

{% block content %}
<h3 class="alert alert-success p-2 text-center">Product Details</h3>

<div class="row">
    <div class="col-md">
        <div class="form-floating mb-3">
            <input type="text" name="item" class="form-control" value="{{datas.item}}" readonly>
            <label>Item</label>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <textarea name="descr" class="form-control" rows="5" readonly>{{datas.descr}}</textarea>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="category" class="form-control" value="{{datas.category}}" readonly>
            <label>Category</label>
        </div>
    </div>
    <div class="col-md text-center">
        <img src="{{datas.image.image.url}}" alt="Product" id="preview" height="200px" class="mb-3">
        <div class="row mb-5">
            <div class="col">
                <a href="{% url request.session.group|add:'_product' %}" class="btn btn-warning p-3 form-control">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        $('select').addClass('form-control')
    })
</script>
{% endblock content %}