{% extends request.session.path %}

{% block content %}
<div class="float-end mb-3">
    <a href="{% url request.session.group|add:'_stock_create' %}" class="btn btn-info">New</a>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead class="table-success">
        <tr>
            <th>Product</th>
            <th>price</th>
            <th>quantity</th>
            <th>stock_date</th>
            <th>mfg_date</th>
            <th>exp_date</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        {% for d in datas %}
        <tr>
            <td> {{d.product}} </td>
            <td> {{d.price}} </td>
            <td> {{d.quantity}} </td>
            <td> {{d.stock_date}} </td>
            <td> {{d.mfg_date}} </td>
            <td> {{d.exp_date}} </td>
            <td style="width: 300px;">
                <a href="{% url request.session.group|add:'_stock_detail' d.id %}" class="btn btn-info"><i class="bi bi-card-list"></i>
                    Detail</a>
                <a href="{% url request.session.group|add:'_stock_update' d.id %}" class="btn btn-primary"><i
                        class="bi bi-pencil-square"></i> Edit</a>
                <a href="{% url request.session.group|add:'_stock_delete' d.id %}" class="btn btn-danger"><i class="bi bi-trash3-fill"></i>
                    Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}